
.reviews {
    background-color: #222222;
    padding: 100px;
    @media (max-width: 768px) {
        padding: 30px;
    }
}

.review-img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.review-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
}