.swiper-pagination {
    position: unset !important;
    margin-top: 50px;
}

.swiper-slide {
    background-color: white;
    padding: 30px 30px 40px 30px;
    border-radius: 4px;
    text-align: center;
}

span.swiper-pagination-bullet {
    background-color: white;
    }